body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #1f1f1f, #000000);
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #101010;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-left: 3rem;
}

nav a {
    color: #b2b2b2;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
}

nav a.active {
    color: #ffffff;
    font-weight: bold;
    background-color: #1f1f1f;
}

nav a:hover {
    color: #ffffff;
}

.socials{
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.social-icons a:hover {
    scale: 1.2;
    transition: scale 0.3s ease;
}

.carousel {
    position: relative;
    width: 100%;
    height: 86vh;
    overflow: hidden;
}

.carousel .swiper,
.carousel .swiper-wrapper,
.carousel .swiper-slide {
    height: 100%;
}

.carousel .slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
}

.carousel .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));
    z-index: 1;
}

.carousel .slide-content {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    padding: 4rem;
    border-radius: 5px;
    max-width: 1200px;
    z-index: 2;
}

.carousel .slide-content h2 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    margin-top: 0;
    color: #ffffff;
}

.carousel .slide-content p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #e0e0e0;
}

.carousel .swiper-button-prev,
.carousel .swiper-button-next {
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0,0,0,0.6);
}

.carousel .swiper-button-prev::after,
.carousel .swiper-button-next::after {
    font-size: 30px;
}

.carousel .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.73);
    width: 15px;
    height: 15px;
    border: 1px solid #ffffff;
}

.carousel .swiper-pagination-bullet-active {
    background: #ffffff;
}

main {
    flex: 1;
}

.latest-videos {
    padding: 4rem 2rem;
    text-align: center;
}

.latest-videos h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color: #ffffff;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: start;
    margin-bottom: 2rem;
}

.video-card {
    height: 100%;
    width: 390px;
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.video-card img {
    width: 412px;
    height: 309px;
    display: block;
}

.video-card p {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #e0e0e0;
}

.video-card h3 {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

.video-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

.info-section {
    background-color: #00063a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 4rem 2rem;
    margin: 2rem 0;
}

.info-image img {
    box-shadow: 0 7px 17px rgba(0, 0, 0, 0.6);
    max-width: 100%;
    height: auto;
}

.info-content {
    max-width: 600px;
}

.info-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.info-content p {
    font-size: 1rem;
    margin: 2rem 0;
    color: #cccccc;
}

.episodes-page {
    padding: 2rem;
}

.episodes-page h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.controls input {
    background: transparent;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    border: 2px solid #ffffff;
    outline: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.controls input:focus {
    background-color: #2f2f2f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition : background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}
.controls input[type="text"] {
    font-family: Montserrat, sans-serif;
    width: 40rem;
    color: white;
}
.controls input::placeholder {
    font-family: Montserrat, sans-serif;
    color: #b2b2b2;
}

.controls .filters,
.controls .order {
    display: flex;
    gap: 0.5rem;
}

.controls button {
    font-family: Montserrat, sans-serif;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    background: #1e1e1e;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s;
}

.controls button.active,
.controls button:hover {
    background: #000a54;
}

footer {
    background-color: #000000;
    padding: 2rem;
}

footer p {
    color: #6c6c6c;
    margin: 0;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-around;
    margin: 3rem 5rem;
}

footer .footer-content h2 {
    color: #ffffff;
    font-size: 1rem;
    margin: 0;
}

footer .footer-socials {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

footer .footer-socials a {
    color: #b2b2b2;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 1rem 0;
}

footer .footer-socials a:hover {
    color: #ffffff;
}

footer .footer-navigation {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

footer .footer-navigation a {
    color: #b2b2b2;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 1rem 0;
}

footer .footer-navigation a:hover {
    color: #ffffff;
}

footer .footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

footer .footer-links a {
    color: #b2b2b2;
    font-weight: normal;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 1rem 0;
}

footer .footer-links a:hover {
    color: #ffffff;
}

/* Boutons */

.buttons {
    background: transparent;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease;
}

.buttons:hover {
    background: #000a54;
    border: 1px solid transparent;
}